.button_add {
    position: absolute;
    font-size: 30px;
    right: 25px;
    top: 0;
}

.popup {
    position: absolute;
}

input:checked + .cheched {
    background-color: rgb(56, 56, 255);
}

.cheched::after {
    content: "";
    display: none;
    position: absolute;
    top: 5px;
    right: 9px;
    width: 10px;
    height: 15px;
    border: solid #FFF;
    border-width: 0 4px 4px 0;
    transform: rotate(40deg);
}

input:checked + .cheched::after {
    display: block;
}